@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.item-4 {
    border: 15px solid black;
}

.item-5 {
    border-bottom: 15px solid black;
}

input:focus {
    outline: 2px solid rgba(53, 201, 255, 0.429);
}